.TimetableClass{
    display: grid;
    grid-template-columns: 1fr 4fr
}


.Groups{
    color: mediumpurple;
}
.Group{
    color: khaki;
}

.TimetableEachGroup{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
.lesson{    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: cornsilk;
    
}
.LessonNumber{
    grid-column: 1;
    grid-row: span 3;
}
.LessonOtherInfo{
    grid-column: 2/3;
    grid-row: span 3;
}