.TimetableClass{
    display: grid;
    grid-template-columns: 1fr 4fr
}


.Groups{
    color: mediumpurple;
}
.Group{
    color: khaki;
}

.TimetableEachGroup{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}