.app-wrapper{
  display: grid;

  /* background-image: url("./Picture/Fon.png") ;	 */
  background-size: cover;
	background-attachment: scroll;
	background-position: top;
  background-repeat: no-repeat;
  
  grid-template-areas: 
    "m_H m_H"
    "m_N m_B";

  grid-template-rows: 180px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}
.app-wrapper-content{
  grid-area: m_B;
}